@import "../../styles/variables";
@import "../../styles/mixins";

.page {
   display: flex;
   flex-direction: column;
   align-items: center;

   .successMessage {
      font-size: 18px;

      a {
         color: $color-accent;
      }
   }

   .formItem {
      margin-bottom: 10px;
   }
}