@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  background: $color-accent;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, .6);

  .container {
    @extend %container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
